<!-- ENTERPRISE ADD -->
foo
<!-- ENTERPRISE END -->
hello
<!-- ENTERPRISE EDIT -->
bar
<!-- ENTERPRISE REPLACES -->
<!-- world -->
<!-- ENTERPRISE END -->
<!-- ENTERPRISE REMOVE -->
<!-- peace -->
<!-- ENTERPRISE END -->
